{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block login_content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn tp-btn w-100" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" /> 
    <a href="{% url "web:index" %}" class="mt-2">
        <div class="btn tp-btn w-100 mt-2">Bak To Home</div>
    </a>
</form>

<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
{% comment %} <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p> {% endcomment %}
{% endblock login_content %}

