<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% load static i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Best Job Oriented Courses | Career-Focused Training at OXDU Integrated Media School</title>   
    <meta name="title" content="{{meta.meta_title}}" />
    <meta name="description" content="{{meta.meta_description}}" />
    {% endblock meta %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://oxdu.in/" />
    <meta property="og:title" content="{{meta.og_title}}" />
    <meta property="og:description" content="{{meta.og_description}}" />
    <meta property="og:image" content="https://oxdu.in/{{meta.og_image.url}}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://oxdu.in/" />
    <meta property="twitter:title" content="{{meta.og_title}}" />
    <meta property="twitter:description" content="{{meta.og_description}}" />
    <meta property="twitter:image" content="https://oxdu.in/{{meta.og_image.url}}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'web/img/logo/logo.svg' %}?v=1.4">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/meanmenu.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/animate.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/swiper-bundle.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/backtotop.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/magnific-popup.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/nice-select.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/font-awesome-pro.css' %}?v=1.4">
    <link rel="stylesheet" href="{% static 'web/css/spacing.css' %}?v=1.4">
    
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}?v=1.4.1">


     <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P4HQHGFK');</script>
    <!-- End Google Tag Manager -->
    

    <!-- Meta Pixel Code new -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1023595492097207');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1023595492097207&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->
</head>

    
<body class="{{LANGUAGE_CODE}}">

     <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4HQHGFK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->
    <!-- JS here -->
    {% include 'web/partials/header.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'web/partials/footer.html' %}


    <script type="text/javascript" src="{% static 'web/js/vendor/jquery.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/vendor/waypoints.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/bootstrap-bundle.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/meanmenu.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/swiper-bundle.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/magnific-popup.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/parallax.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/backtotop.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/nice-select.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/wow.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/isotope-pkgd.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/imagesloaded-pkgd.js' %}?v=1.4"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="{% static 'web/js/ajax-form.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/main.js' %}?v=1.4"></script>
    <script type="text/javascript" src="{% static 'web/js/course-select.js' %}?v=1.4"></script>
    {% block js %} {% endblock js %}

    <script>
        const observer = lozad();
        observer.observe();

        $(document).ready(function () {
            $('#langSelector').change(function () {
                var lang = $(this).val();
                var active_lang = "{{LANGUAGE_CODE}}";
                var url = $(this).data('url');
                var new_url = is_lang_active(url, active_lang) ? url.replace(active_lang, lang) : url + lang + '/';
                window.location.href = new_url;
            });

            function is_lang_active(url, active_lang) {
                return url.includes(active_lang);
            }
        });
    </script>
</body>

</html>