{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<main>

   <!-- breadcrumb area start -->
   <section class="pt-20 breadcrumb__area">
      <div class="container">
         <div class="row">
            <div class="breadcrumb__list breadcrumb__list-2 mb-10">
               <span><a href="{% url 'web:index' %}">Home</a></span>
               <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
               <span>Events</span>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->

   <!-- event area start -->
   <section class="event__area pt-50 pb-80">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="section__title-wrapper-2 text-center mb-60">
                  <span class="section__title-pre-2">
                     {% translate 'Discover Our Upcoming Free Online & Offline IT Courses to Boost Your Skillset' %} </span>
                  <h3 class="section__title-2">{% translate 'Our upcoming event' %}</h3>
               </div>
            </div>
         </div>
         <div class="row">
            {% for event in events %}
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
               <div class="course__item white-bg transition-3 mb-30 border">
                  <div class="course__thumb w-img fix">
                     <a href="{{event.get_absolute_url}}">
                        <img src="{{event.image.url}}" alt="">
                     </a>
                  </div>
                  <div class="course__content p-relative">
                     <h3 class="course__title mt-2">
                        <a href="{{event.get_absolute_url}}">{{event.title}}</a>
                     </h3>
                     <p>{{event.details}}</p>
                     <div class="d-flex flex-wrap">
                        <span class="flex_item"><i class="fa fa-calendar"></i> {{event.date}}</span>
                        <span class="flex_item"><i class="fa fa-clock"></i> {{event.start_time}}</span>
                        <span class="flex_item"><i class="fa fa-comments"></i> {{event.platform}}</span>
                        <span class="flex_item"><i class="fa fa-language"></i> {{event.language}}</span>
                     </div>

                     <a href="{{ event.get_absolute_url }}" class="tp-btn-9 w-50 mt-30">{% trans "Register Now" %}</a>

                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!-- event area end -->

</main>

{% endblock %}