{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
   {% if LANGUAGE_CODE == 'ml' %}
   @media (max-width: 575px){
.slider__title-3 {
    font-size: 20px;
}
}
{% endif %}
</style>
<main>
   <!-- slider area start -->
   <section class="slider__area">
      <div class="swiper-container">
         {% for banner in banners %}
         <div class="swiper-wrapper">

            <div class="swiper-slide p-relative slider__height slider__height-3 d-flex align-items-center z-index-1">
               <div class="slider__bg slider__overlay slider__overlay-3 include-bg"
                  data-background="{{banner.image.url}}"></div>
               <div class="container">
                  <div class="row">

                     <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-10">
                        <div class="slider__content-3 p-relative z-index-1">
                           <span data-animation="fadeInUp" data-delay=".3s">
                              <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M8.745 0.4425C9.435 -0.1475 10.565 -0.1475 11.265 0.4425L12.845 1.8025C13.145 2.0625 13.705 2.2725 14.105 2.2725H15.805C16.865 2.2725 17.735 3.1425 17.735 4.2025V5.9025C17.735 6.2925 17.945 6.8625 18.205 7.1625L19.565 8.7425C20.155 9.4325 20.155 10.5625 19.565 11.2625L18.205 12.8425C17.945 13.1425 17.735 13.7025 17.735 14.1025V15.8025C17.735 16.8625 16.865 17.7325 15.805 17.7325H14.105C13.715 17.7325 13.145 17.9425 12.845 18.2025L11.265 19.5625C10.575 20.1525 9.445 20.1525 8.745 19.5625L7.165 18.2025C6.865 17.9425 6.305 17.7325 5.905 17.7325H4.175C3.115 17.7325 2.245 16.8625 2.245 15.8025V14.0925C2.245 13.7025 2.035 13.1425 1.785 12.8425L0.435 11.2525C-0.145 10.5625 -0.145 9.4425 0.435 8.7525L1.785 7.1625C2.035 6.8625 2.245 6.3025 2.245 5.9125V4.1925C2.245 3.1325 3.115 2.2625 4.175 2.2625H5.905C6.295 2.2625 6.865 2.0525 7.165 1.7925L8.745 0.4425Z"
                                    fill="#FF8D00" />
                                 <path d="M6.375 9.99251L8.785 12.4125L13.615 7.57251" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                              {{banner.banner_head}}</span>
                           <h2 class="slider__title-3" data-animation="fadeInUp" data-delay=".6s">{{banner.title}}</h2>
                           <div class="slider__list" data-animation="fadeInUp" data-delay="1.2s">
                              <ul>
                                 {{banner.content|safe}}
                              </ul>
                           </div>
                           <div class="d-flex flex-wrap">
                              <a href="{% url 'web:placement' %}" class="tp-btn-9 mt-20 btn-sm">Placed Students</a>
                              <a href="{% url 'web:certification' %}" class="tp-btn-9 mt-20 btn-sm">Certification</a>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>

         </div>
         {% endfor %}
      </div>
      <div class="gradient_bg">
         <div class="marquee_sect">
            <span>Oxdu Tech School</span> 
            <span>Oxdu Design School</span>
            <span>Oxdu Digi School</span>
         </div>
      </div>
   </section>
   <!-- slider area end -->

   <!-- category area start -->
   <section class="category__area pb-50 pt-75">
      <div class="container">
         <div class="row align-items-end">
            <div class="col-xxl-12">
               <div class="section__title-wrapper mb-60 text-center">
                  <span class="section__title-pre-3">{% translate 'Featured Courses' %}</span>
                  <h2 class="section__title section__title-44">
                     {% translate 'Acquire New Skills to <br> Propel Your Career Forward' %}
                  </h2>
               </div>
            </div>
         </div>
         <div class="row">
            {% for course in courses %}
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
               <div class="border_wrapper">
                  <div class="category__item-3 fix transition-3 white-bg mb-30">
                     <h3 class="category__title-3">{{course.course_name}}</h3>
                     <div class="category__list">
                        <ul>
                           {% for coursepoint in course.get_points %}
                           <li><a>{{coursepoint.content}}</a></li>
                           {% endfor %}
                        </ul>
                     </div>
                     <div class="category__btn-3">
                        <a href="{{course.get_absolute_url}}" class="tp-btn-9 w-100">View More</a>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!-- category area end -->

   
   <!-- course area start -->
   <section class="course__area grey-bg-3 pt-50 pb-50">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="section__title-wrapper mb-60 text-center">
                  <span class="section__title-pre-3">{% translate 'Enhance Your IT Journey' %}</span>
                  <h2 class="section__title section__title-44">
                     {% translate 'Discover Our Upcoming Free <br> Online Workshops' %}
                  </h2>
               </div>
            </div>
         </div>
         <div class="row">
            {% for event in events %}
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
               <div class="course__item white-bg transition-3 mb-30">
                  <div class="course__thumb w-img fix">
                     <a href="{{event.get_absolute_url}}">
                        <img src="{{event.image.url}}" alt="">
                     </a>
                  </div>
                  <div class="course__content p-relative">
                     <h3 class="course__title mt-2">
                        <a href="{{event.get_absolute_url}}">{{event.title}}</a>
                     </h3>
                     <p class="mb-2">{{event.details|truncatechars:"155"}}</p>
                     
                     <div class="d-flex flex-wrap">
                        <span class="flex_item"><i class="fa fa-calendar"></i> {{event.date}}</span>
                        <span class="flex_item"><i class="fa fa-clock"></i> {{event.start_time}}</span>
                        <span class="flex_item"><i class="fa fa-comments"></i> {{event.platform}}</span>
                        <span class="flex_item"><i class="fa fa-language"></i> {{event.language}}</span>
                     </div>

                     <a href="{{event.get_absolute_url}}" class="tp-btn-9 w-50 mt-30">Register Now</a>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!-- course area end -->

   <!-- certificate area start -->
   <section class="certificate__area pt-55 pb-55">
      <div class="container">
         <div class="certificate__inner grey-bg-9 p-relative">
            <div class="certificate__thumb">
               <img src="{% static 'web/img/certificate/certificate.png' %}" alt="">
            </div>
            <div class="row">
               <div class="col-xxl-7">
                  <div class="certificate__content">
                     <div class="section__title-wrapper mb-10">
                        <span class="section__title-pre-3">{% translate 'Empower Yourself Through Our Intensive Training' %}</span>
                        <h2 class="section__title section__title-44">
                           {% blocktrans %}
                           You can be your own <br> Guiding star with our help!
                           {% endblocktrans %}
                        </h2>
                     </div>
                     <p>{% blocktrans %}
                        At our digital learning center, you become the guiding star of your own journey, and we're here to assist you every step
                        of the way. Our experts seamlessly combine their expertise and passion to convey knowledge effectively.
                        {% endblocktrans %}
                     </p>
                     <div class="certificate__links d-sm-flex align-items-center">
                        <a href="https://www.youtube.com/watch?v=2RERxBsMgHQ" class="play-video popup-video"><i
                              class="fa-solid fa-play"></i> Play video</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- certificate area end -->

   <!-- price area start -->
   <section class="price__area pb-30">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="section__title-wrapper text-center mb-60">
                  <span class="section__title-pre-3">{% translate 'Community Resources Hub' %}</span>
                  <h2 class="section__title-44">{% translate 'Your Gateway to Excellence' %}</h2>
               </div>
            </div>
         </div>
         
         <div class="row align-items-stretch">
            
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 mb-3">
               <div class="price__banner h-100 theme-bg-3 mb-30 fix p-relative">
                  <div class="price__shape">
                     <img src="{% static 'web/img/price/price-shape.png' %}" alt="">
                  </div>
                  <div class="price__banner-content p-relative z-index-1">
                     <h3>
                        <span>Create every day. Meet awesome people</span> Never stop learning.
                     </h3>
                  </div>
                  <div class="price__thumb">
                     <img src="{% static 'web/img/price/price-thumb.png' %}" alt="">
                  </div>
               </div>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 mb-3">
               <div class="price__item h-100 active white-bg mb-30 transition-3 fix">
                  <h3 class="price__title">Designer Community</h3>

                  <div class="price__content">
                     <div class="price__list mb-4">
                        <ul>
                           <li>Design Showcase<span><i class="fa-solid fa-check"></i></span></li>
                           <li>Collaboration Opportunities <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Design Challenges <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Resource Sharing <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Designer Q&A Forum <span><i class="fa-solid fa-check"></i></span></li>
                        </ul>
                     </div>
                     <div class="app__item w-100">
                        <a href="https://chat.whatsapp.com/KlvXBU6LgSSFMIn9HomGAf" target="_blank" class="py-2 w-100" style="background: #4BCC5B;padding: 0 20px;">
                           <img src="{% static 'web/img/whatsapp.svg' %}" style="height:25px" alt="">
                           Join Community
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 mb-3">
               <div class="price__item h-100 active white-bg mb-30 transition-3 fix">
                  <h3 class="price__title">Developer Community</h3>

                  <div class="price__content">
                     <div class="price__list mb-4">
                        <ul>
                           <li>Code Sharing & Review <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Tech News & Updates<span><i class="fa-solid fa-check"></i></span></li>
                           <li>Developer Challenges <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Learning Resources Library <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Networking Events <span><i class="fa-solid fa-check"></i></span></li>
                        </ul>
                     </div>
                     <div class="app__item w-100">
                        <a href="https://chat.whatsapp.com/EA4s9Qjqj6BKdAGO5DT3p8" target="_blank" class="py-2 w-100" style="background: #4BCC5B;padding: 0 20px;">
                           <img src="{% static 'web/img/whatsapp.svg' %}" style="height:25px" alt="">
                           Join Community
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 mb-3">
               <div class="price__item h-100 active white-bg mb-30 transition-3 fix">
                  <h3 class="price__title">DM Community</h3>

                  <div class="price__content">
                     <div class="price__list mb-4">
                        <ul>
                           <li>Marketing Case Studies <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Marketing Resources <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Industry Trends & Insights <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Strategy Consultation <span><i class="fa-solid fa-check"></i></span></li>
                           <li>Digital Marketing Webinars <span><i class="fa-solid fa-check"></i></span></li>
                        </ul>
                     </div>
                     <div class="app__item w-100">
                        <a href="https://chat.whatsapp.com/KGQJ48ZGsHK0YdTHMQjuIF" target="_blank" class="py-2 w-100" style="background: #4BCC5B;padding: 0 20px;">
                           <img src="{% static 'web/img/whatsapp.svg' %}" style="height:25px" alt="">
                           Join Community
                        </a>
                     </div>
                  </div>
               </div>
            </div>


         </div>
      </div>
   </section>
   <!-- price area end -->

   <!-- faq area start -->
   <section class="faq__area pt-20 pb-70">
      <div class="container">
         <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5">
               <div class="faq__wrapper pr-25">
                  <div class="section__title-wrapper mb-5">
                     <span class="section__title-pre-3">{% translate 'Learn how to get started' %}</span>
                     <h2 class="section__title section__title-44">{% translate 'Frequently Asked Questions' %}</h2>
                  </div>
                  <p>{% blocktrans %}
                     Our FAQs aim to streamline the user experience, offering clarity and efficiency by addressing common concerns upfront.
                     Whether you're a customer seeking product details, a user navigating a website, or a member of our community looking for
                     guidance, our Frequently Asked Questions section is your go-to source for concise, informative responses, simplifying
                     your journey and enhancing your understanding.
                     {% endblocktrans %}</p>
               </div>
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-7">
               <div class="faq__item-wrapper pl-100">
                  <div class="faq__accordion">
                     <div class="accordion" id="faqaccordion">
                        {% for faq in faqs %}
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="faq{{faq.id}}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                 data-bs-target="#collapse{{faq.id}}" aria-expanded="false" aria-controls="collapse{{faq.id}}">
                                 {{faq.question}}
                              </button>
                           </h2>
                           <div id="collapse{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="faq{{faq.id}}"
                              data-bs-parent="#faqaccordion">
                              <div class="accordion-body">
                                 <p>{{faq.answer}}</p>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- faq area end -->

   <div>
      <img class="footer-img img-fluid w-100" src="{% static 'web/img/footer.png' %}">
   </div>

</main>

{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js" type="text/javascript"></script>
<script>
$('.marquee_sect').marquee({
	duration: 15000,
	gap: 0,
	delayBeforeStart: 0,
	direction: 'left',
	duplicated: true,
   startVisible: true,
});
</script>
{% endblock %}